body {
  background-color: bisque;
}

.title {
  text-align: center;
  font-size: 50px;
}

header {
  background-color: burlywood;
  height: 120px;
}

#welcome {
  width: 140px;
  margin-top: 40px;
  font-size: 20px;
}

.gameInformation {
  margin: 0 auto;
  width: 500px;
  padding: 30px 15px;
  margin-top: 5%;
  background-color: rgb(255,255,255);
  box-shadow: 6px 6px 10px black;
  border-radius: 5px;
}

header button {
  margin-top: 35px;
  background-color: peru !important;
  border: black solid 2px !important;
  font-size: 16px !important;
}

.zoom {
  transition: transform 0.2s; /* Animation */
}

.zoom:hover {
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


a:hover,
a,
a:visited {
  color: black;
  text-decoration: none;
}

#empezarJuego {
  background-color: peru;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  font-size: 20px;
}

#containerEmpezarJuego {
  margin-top: 30px;
  text-align: center;  
}

#mensajeNoLogin {
  margin-top: 20px;
}

#containerPartida {
  text-align: center;
  margin: 0 auto;
  background-color: burlywood;
  width: 500px;
  height: 140px;
  border: 2px black solid;
  border-radius: 5px;
}

#containerPartida p {
  font-weight: 500;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

#containerPartida button {
  width: 50px;
  color: black;
  background-color: peru !important;
  border: black solid 2px !important;
  font-size: 16px !important;
}