/* CSS COMUN (HEADER ETC) */

body {
  background-color: bisque !important;
}

.title {
  text-align: center;
  font-size: 50px;
}

header {
  background-color: burlywood;
  height: 120px;
}

header button {
  margin-top: 45px !important;
  background-color: peru !important;
  border: black solid 2px !important;
  font-size: 16px !important;
}

.zoom {
  transition: transform 0.2s !important; /* Animation */
}

.zoom:hover {
  transform: scale(
    1.2
  ) !important; /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

button,
button > a:hover,
button > a:visited,
button > a {
  text-decoration: none;
  color: black !important;
}


/* POPUP */
.envoltorio-popup {
  background-color: rgba(0,0,0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.popup {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  width: 100%;
  max-width: 300px;
  margin: 10% auto;
  padding: 20px;
  background: white;
  position: relative;
}
.popup a{
  background: crimson;
  color: white;
  text-decoration: none;
  padding: 6px 10px;
}
.cerrar-popup {
  position: absolute;
  top: 5px;
  right: 8px;
  cursor: pointer;
}

/* CSS PIEDRA PAPEL TIJERAS */
img {
  width: 120px;
  height: 120px;
}

.tablero {
  background-color: #e6b68b;
  margin: 0 auto;
  margin-top: 60px;
  width: 80%;
  height: 760px;
  border: 2px black solid;
  border-radius: 5px;
}

.resultado {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.containerJugar {
  text-align: center;
  font-size: 22px;
}

#botonJugar {
  background-color: peru;
  border-radius: 5px;
  border: black 2px solid;
  color: black;
}

.texto {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.fila {
  margin-top: 70px;
  text-align: center;
}

.zoom {
  transition: transform .2s; /* Animation */
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

#noInicioSesion {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e6b68b;
  height: 70px;
  width: 550px;
  margin-top: 30px;
  font-weight: bold;
  border-radius: 5px;
  border: 1px black solid;
}

#lahora {
  width: 90px;
  margin-top: 50px !important;
  background-color: peru !important;
  border: black solid 2px !important;
  font-size: 16px !important;
  border-radius: 5px;

}

.timer {
  text-align: center;
}